[user]
	name = Chris Sakai
	email = cs.chris.sakai@gmail.com
[alias]
	keys = config --get-regexp alias
	ad = add
	ada = add -A
	br = branch
	brd = branch -d
	brr = branch -r
	brm = branch -m
	nbr = branch --no-merged
	mbr = branch --merged
	ch = checkout
	cht = "!sh -c \"if [ $# -ne 0 ]; then git fetch --all; git checkout --track origin/$1; fi\" -"
	chb = "!sh -c \"if [ $# -ne 0 ]; then git fetch --all; git checkout -b $1 origin/HEAD; fi\" -"
	cnfg = config
	co = commit
	coa = commit -a
	com = commit -m
	coam = commit -am
	dif = diff
	dis = diff --word-diff
	fap = fetch --all -p
	fch = fetch
	last = log -1 HEAD
	lo = log
	mrg = merge
	nit = init
	pll = pull
	psh = push
	psu = push --set-upstream origin HEAD
	rmo = remote
	rst = reset
	sts = status
	sync = "!sh -c \"git fetch --all -p; git reset --hard \\\"$(git rev-parse --abbrev-ref --symbolic-full-name @{u})\\\"\" -"
	upd = "!sh -c \"git fetch --all; git merge origin/HEAD\" -"
	wwe = git config --local user.email chris.sakai@weightwatchers.com
	rsho = remote set-head origin
	rsha = remote set-head origin -a
	upst = rev-parse --abbrev-ref --symbolic-full-name @{u}
